body {
    top: 0 !important;
    visibility: hidden;
}

#iframe {
    margin: 0 auto;
    display: block;
}

.col-main {
    margin-top: 53px !important;
}

.col-left {
    margin-top: 53px !important;
}

ul.mainNav {
    top: 0px !important;
}

.breadcrumbs {
    top: 33px !important
}

.large-flexslider-container {
    top: 52px !important;
}

#colorbox.contentRight {
    position: static !important;
}

#footer > div.actionLayerContent.actionLayerInvisible.rightSide.enableLayer > div.actionLayerSlideToggle.rightSide {
    display: none;
}

.headerNav,
.header,
#sendfriend,
a[onclick="window.print();"],
.facebook-like,
.google-plus1,
.infoBreak,
.footer,
.copyrightHint,
a[href="http://www.fact-finder.de"],
a[href="http://www.liveinternet.ru/click;CatalogiRU_NEW"] {
    display: none !important;
}