<meta name="google-translate-customization" content="36cf5592b1709257-6f7aa4425cdb67d3-g0d9418305f410c2b-12" />
<style>
body{
  padding: 0;
  top: 0 !important;
}

.skiptranslate{
  display: none;
}

#google_translate_element{
  float: right;
  padding: 15px;
}

.goog-te-gadget{
  display: block;
  float: left
}

.goog-te-gadget img{
  display: inline;
}

.goog-tooltip {
  display: none !important;
}
.goog-tooltip:hover {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  border: none !important; 
  box-shadow: none !important;
}
</style>