.navigation-main-outer-wrapper {
    padding: 0 0 0 0;
}

.favoriteWrap {
    display: none !important;
}
.outfitWrap {
    display: none !important;
}

/* Правим корзину */
#warenkorb a {
    padding: 15px 0 0 75px;
}
#warenkorb {
    width: 166px;
}