body {
    top: 0 !important;
    visibility: hidden;
}

#iframe {
    margin: 0 auto;
    display: block;
}

#cboxLoadedContent {
    moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.miniCartAmountLabel,
.categoryNavESpot,
.shippingCostLink,
.availability,
.addToWishlist,
.footerTopRule,
.footerNavColumn,
.footerNavColumn-wide,
footer,
a[href="http://www.liveinternet.ru/click;CatalogiRU_NEW"] {
    display: none !important;
}

.storelogo,
.headerContentContainer,
.miniCartPriceContainer {
    display: none;
}

.buttonText::before {
    display:none;
}

/*** моб. верися ***/
@media only screen and (max-width: 600px) {
    #un-button,
    #iframe {
        display: none !important;
    }

    .storelogo,
    .headerContentContainer {
        display: block;
    }
}