/* Заменяем шрифты */
@font-face {
    font-family: "SchIcons";
    src: url("/static/fonts/schneider-iconfont.eot");
    src: url("/static/fonts/schneider-iconfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/schneider-iconfont.woff") format("woff"), url("/static/fonts/schneider-iconfont.ttf") format("truetype"), url("/static/fonts/schneider-iconfont.svg#schneider-iconfont") format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("/static/fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
    src: url("/static/fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"), url("/static/fonts/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2") format("woff2"), url("/static/fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"), url("/static/fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"), url("/static/fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("/static/fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
    src: url("/static/fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"), url("/static/fonts/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2") format("woff2"), url("/static/fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("/static/fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"), url("/static/fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
    font-weight: 700;
    font-style: normal
}

/* Активные элементы шапки */
._logout{
    background-image: url(http://cdn.catalogi.ru/static/images/_logout.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: right;
    width: 10px;
    height: 16px;
}
._home{
    background-image: url(http://cdn.catalogi.ru/static/images/_home.png);
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 20px;
    padding: 0 0 0 20px;
    font-weight: bold;

    color: #666;
}

/* Новые расположения элементов шапки */
@media screen and (max-width: 63.9em) {
    #page-header.sticky #account-nav {
        top: 22px;
        right: 250px;
        width: 120px;
    }
    #page-header:not(.sticky) #account-nav {
        top: 14px;
        right: 50px;
        width: 120px
    }
    #page-header:not(.sticky) #account-nav .my-account a,
    #page-header:not(.sticky) #account-nav .my-account .link {
        position: relative
    }

    #page-header.sticky #page-header-main-wrapper #header-brand-logo {
        margin-left: 130px;
    }

    #page-header.sticky .search {
        width: 165px;
        left: 555px;
    }
    #page-header:not(.sticky) .search {
        width: 170px;
        left: 535px;
    }
    #page-header:not(.sticky) .search-button {
        width: 50px;
        overflow: hidden;
    }

    #page-header.sticky #minicart {
        right: 200px;
    }
}
@media screen and (min-width: 64em) {
    #page-header.sticky #account-nav {
        top: 22px;
        right: 230px;
        width: 120px;
    }
    #page-header:not(.sticky) #account-nav {
        top: 14px;
        right: 100px;
        width: 120px
    }
    #page-header:not(.sticky) #account-nav .my-account a,
    #page-header:not(.sticky) #account-nav .my-account .link {
        position: relative
    }

    #page-header:not(.sticky) #meta-nav {
        max-width: 70%;
    }

    #page-header.sticky .search {
        top: 13px;
        width: 140px;
        left: 815px;
    }
    #page-header.sticky .search .searchfield {
        width: 100px;
    }
    #page-header:not(.sticky) .search-button {
        width: 50px;
        overflow: hidden;
    }
    .search {
        width: 280px;
        left: 655px;
    }

    #page-header #root-nav {
        margin-top: 30px;
    }

    #page-header.sticky #minicart {
        width: 275px;
        right: 170px;
    }
}
@media screen and (min-width: 80em) {
    #page-header.sticky #account-nav {
        top: 22px;
        right: 320px;
        width: 120px;
    }

    #page-header.sticky .search {
        left: 1010px;
        width: 170px;
    }
    #page-header.sticky .search .searchfield {
        width: 115px;
    }
    .search {
        left: 885px;
        width: 280px;
    }

    #page-header.sticky #minicart {
        right: 222px;
    }
}


#menu {
    left: 25px;
    text-transform: none;
    font: 400 18px/1 "Caslon",Times,serif;
}

.search .searchfield {
    width: 63%;
}
#page-header.sticky .search .search-button {
    overflow: hidden;
    width: 37px;
}

/* Уменьшаем шрифты */
#page-header:not(.sticky) #meta-nav li a, #page-header:not(.sticky) #meta-nav li .link {
    font: 500 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
}
#account-nav a, #account-nav .link {
    font: 500 12px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #111;
}
#wishlist-link>a, #wishlist-link>.link, #minicart-link>a, #minicart-link>.link {
    color: #111;
    font: 500 12px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#account-nav .my-account-login, #account-nav .my-account-flyout-btn {
    color: #111;
}
#page-header.sticky #minicart {
    top: 21px;
}

#page-header.sticky #header-brand-logo {
    background-size: 100%;
}
#page-header.sticky #page-header-main-wrapper #header-brand-logo {
    width: 184px;
    height: 60px;
    top: 11px;
}

/* Заменяем лого */
#header-brand-logo {
    display: block;
    text-indent: -9999em;
    background: transparent url("/static/images/schneider-logo.svg") no-repeat 0 0 scroll;
    background-image: url("/static/images/schneider-logo.svg");
    height: 70px;
    width: 400px;
    position: relative;
    top: 53px;
    margin-bottom: 34px;
    background-size: contain;
    float: none;
    margin-left: auto;
    margin-right: auto;
}


/* Скрываем мусор */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
.js-layer.layer-hide {
    display: none !important;
}
.panel.panel-type-4 {
    display: none !important;
}
#js-comments-write_button_review, .review-inner-button-panel {
    display:none;
}

/* Подготовка к отображению */
#_head #_center ._info{
    margin: 0px 0 0 34px !important;
}
body{
    top: 0 !important;
    visibility: hidden;
}