body{
  top: 0 !important;
  visibility: hidden;
}

#iframe{
	margin: 0 auto;
	display: block;
}

#header{
	background: #fff !important;
	height: 110px !important;
}

.fl_header_span a[href="http://www.madeleine.catalogi.ru/kataloge/blaetterkataloge/"]{
	color: #B40D56 !important;
}

#header > .wrapper,
#web10951Banner,
#addArticleToNotepadButton,
.ShareView,
a[href="/news-specials/mobile-app/"],
a[href="/news-specials/boutique-aktionen/"],
a[href="/news-specials/freundschaftswerbung/"],
a[href="/news-specials/fashion-videos/"],
#Sozial-Media,
#Footer-Navi,
#servicePagesLinks,
#AppsandQL,
#BottomText,
#bottom-navi,
#app-quali,
#black-impress > .wrapper,
#SocialMedia,
a[href="http://www.liveinternet.ru/click;CatalogiRU_NEW"]{
	display: none !important;
}