body{
  top: 0 !important;
  visibility: hidden;
}


#iframe{
	margin: 0 auto;
	display: block;
}

#page-header #page-header-main-wrapper{
	height: 120px !important;
}

#header-brand-logo,
#meta-nav,
#header-main-content,
.fact-finder-message,
#add-to-watchlist-button,
.social-media,
#js-comments-write_button_review,
#page-footer,
a[href="http://www.liveinternet.ru/click;CatalogiRU_NEW"]{
	display: none !important;
}
